{% extends 'base.html.twig' %}

{% block title %}Patient Report{% endblock %}

{% block body %}
    <h1>Patient Report for {{ patient.nom }} {{ patient.prenom }}</h1>

    <h2>Details</h2>
    <ul>
        <li>ID: {{ patient.id }}</li>
        <li>Name: {{ patient.nom }} {{ patient.prenom }}</li>
        <li>CIN: {{ patient.cin }}</li>
    </ul>

    <h2>Appointments</h2>
    <ul>
        {% for rdv in rdvs %}
            <li>{{ rdv.DateRdv|date('Y-m-d') }} - {{ rdv.profession.nom }} {{ rdv.profession.prenom }}</li>
        {% endfor %}
    </ul>

    <h2>Treatments</h2>
    <ul>
        {% for traitement in traitments %}
            <li>{{ traitement.description }}</li>
        {% endfor %}
    </ul>
{% endblock %}
